<div class="row" data-ng-init="userinfo()">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{loggeduser.firstname}} {{loggeduser.lastname}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <!--<div class=" col-md-12 col-lg-12 ">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td>{{loggeduser.firstname}}</td>
                                </tr>
                                <tr>
                                    <td>Lastname:</td>
                                    <td> {{loggeduser.lastname}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="mailto:info@support.com"> {{loggeduser.email}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> !-->
                   <div class="calendar" ng-model="eventSources" calendar="myCalendar" ui-calendar="uiConfig.calendar">
                </div>

           
            <div class="panel-footer">
                          
                          <button class="btn btn-danger" ng-click="logout()">Logout  </button>
             </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-6">
<h2> Add An Event Here</h2>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Title Of Event</label>
    <input class="form-control" id="exampleInputEmail1" placeholder="Event Title" ng-model="myTitle">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Date</label>
    <input ui-date ui-date-format="DD, d MM, yy" ng-model="myDate" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Time</label>
    <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker1" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Picture</label>
    <file-field ng-model="myPicture" preview="previewImage">Add File</file-field>
    <img ng-src="{{previewImage}}" height="100" width="100" >
    <p class="help-block">Limit for the image is 50 mb</p>
  </div>
  <div class="checkbox">
    
  </div>
  <button type="submit" class="btn btn-default" ng-click="addEvent()">Add Event</button>
</form>
</div>

<!-- Add Event Modal -->

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your Event</h4>
        </div>
        <div class="modal-body">
        <h1>{{currentEventTitle}}</h1>
        <h2>{{currentEventStartDate}}</h2>
        <h2>{{currentEventStartTime}}</h2>
        <img ng-src="{{currentEventImage}}" class="img-rounded" alt="Event Image" width="100" height="100" >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          
        </div>
      </div>
      
    </div>
  </div>

